*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(7, 6, 22);
  color: #00bdbd;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  width: 250px;
  height: 250px;
  border: 2px solid #00bdbd;
  border-radius: 100%;
}

#time {
  font-size: 36px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 45%;
  font-weight: 700;
}
